[tool.poetry]
name = "mojxml"
version = "0.1.0"
description = "法務省登記所備付地図データ（地図XML）を読みこむためのPythonライブラリおよび変換用コマンドラインツール"
authors = ["MIERUNE Inc. <info@mierune.co.jp>"]
readme = "README.md"
homepage = "https://github.com/MIERUNE/mojxml-py"
repository = "https://github.com/MIERUNE/mojxml-py"
license = "MIT"
packages = [{include = "mojxml"}]

[tool.poetry.scripts]
mojxml2ogr = 'mojxml.__main__:main'

[tool.poetry.dependencies]
python = "^3.9"
lxml = "^4.9.2"
pyproj = "^3.4.1"
shapely = "^2.0.1"
fiona = "^1.9.1"
click = "^8.1.3"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
flake8 = "^6.0.0"
flake8-bugbear = "^23.1.20"
flake8-docstrings = "^1.7.0"
isort = "^5.12.0"
pyproject-flake8 = "^6.0.0.post1"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.flake8]
select = "B,C,E,F,W,D,B950"
ignore = "E203,E501,W503"
extend-ignore = "B008,D415,D400,D104"
max-line-length = 120
max-complexity = 20
docstring-convention = "google"

[tool.coverage.run]
source = ['mojxml']
omit = ['**/__main__.py']
